<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
<form id="signin" name="signin" method="post" action="/auth/signup">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="text" />
    <label for="fullname">Email Address</label>
    <input class="text" name="fullname" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign up" />
</form>

</body>

</html>