@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-left: 10px;
}

.container {
    font-family: Asap, sans-serif;
    height: 100%;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 5rem;
}

.header {
    grid-area: header;
    background-color: #0078B5;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.main {
    grid-area: main;
}

.brand a {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    padding-left: 30px;
}

.brand button {
    padding: 10px;
    font-size: 30px;
    background: none;
    cursor:pointer;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.brand button:hover {
    color: coral;
}

.header-links a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
}

.header-links a:hover{
    color: coral;
}

.sidebar {
    position: fixed;
    transform: translateX(-30rem);
    width: 20rem;
    background-color: #f0f0f0;
    height: 100%;
    transition: all .5s;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar button {
    font-size: 30px;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 30px;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;
    border-radius: 50%;
    border: 1px #000000 solid;
}

.footer { 
    grid-area: footer;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #0078B5; 
    text-align: center;  
    color: white;
}

.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.form-signin, .form-signup {
    width: 100%;
    max-width: 400px;
    padding:  15px;;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    
}

.signinTitle, .signupTitle {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 2.0rem;
}

.signup-box, .signin-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    top: -50px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.addfavours-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 50rem;
    padding: 2rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    top: -90px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
    ease-in-out, box-shadow .15
    ease-in-out    
}
.form-control1 {
    display: block;
    width: 37rem;
    padding: .75rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
    ease-in-out, box-shadow .15
    ease-in-out    
}

.form-label-group > input, .form-label-group > label {
    padding: var(--input-padding-y) var (--input-padding-x);
}

.btn:not(:disabled):not(.disabled), .btn-signup {
    cursor: pointer;
}

.btn-block, .btn-signup {
    display:block;
    width:100%;
}

.btn-group-lg > .btn, .btn-lg, .btn-signup {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-primary, .btn-signup {
    color:white;
    background-color:#0078B5 ;
    border-color: #0078B5;
    border: 1px solid transparent;
}

main {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
        margin-bottom: 0;
        padding: 4rem 2rem;
        border-radius: .3rem;
    }
}
.text-center {
    text-align: center;
}

.jumbotron .container {
    max-width: 40rem;
}

.jumbotron-heading {
    font-weight:300;
    font-size: 2.5rem;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.text-muted {
    color: #6c757d;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}

.my-2 {
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-align: center!important;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

/* Leaderboard */
.leaderboard-table, .request-table {
    border-collapse: collapse;
    margin: 25px 40px;
    font-size: 1.2em;
    min-width: 400px;
    font-family: Asap, sans-serif;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.leaderboard-table thead tr,
.request-table thead tr {
    background-color: #0078B5;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.leaderboard-table th,
.leaderboard-table td, 
.request-table th, 
.request-table td {
    padding: 12px 15px;

}

.leaderboard-table tbody tr, 
.request-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.leaderboard-table tbody tr:nth-of-type(even),
.request-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.leaderboard-table tbody tr:last-of-type,
.request-table tbody tr:last-of-type {
    border-bottom: 2px solid #0078B5;
}

.leaderboard-title {
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: #0078B5;
}

/* View/Add request */
.add-header {
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: #0078B5;
}
.add-request-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    top: -50px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#inputRequest {
    width: 500px;
    height:  50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 5px;
    border-color: #0078B5;
}

.add-request-form:focus {
    outline: none;
}

.add-request-form button {
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border-color: #0078B5;
    background-color: #0078B5;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}


 /* Page transition */
* {
    animation: transitionIn 0.5s;
}

 @keyframes transitionIn {
     from {
         opacity: 0;
         transform: rotateX(-10deg);
     }

     to {
        opacity: 1;
        transform: rotateX(0);
     }
 }